@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800');

body {
  overflow-x: hidden;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  cursor: default;
  user-select: none;
}

.container {
  width: 1150px;
  margin-right: 15px;
  margin-left: 15px;
}

.container-fluid {
  max-width: 1900px;
  min-width: 300px;
  width: 100%;
  margin-right: 20px;
  margin-left: 20px;
}

.center {
  display: flex;
  justify-content: center;
}

 h2, h1 {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  margin: 70px 0 50px 0;
  font-size: 40px;
  text-align: center;
  font-style: normal;
  line-height: 47px;
}
