.Header{
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;


   .Content{
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: space-around;

 }
}